<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Admin emails</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../JavaScript/Navbar.js" type="text/javascript"></script>
    <script src="../JavaScript/EditEmails.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../Content/Site.css" />
</head>

<body>
    <nav>
        <a id="nav-dashboard" href="Dashboard.html">Dashboard</a>
        <a id="nav-logout" href="Index.html">Logout</a>
    </nav>

    <!-- Tabela sa postojecim adresama -->
    <!-- Takođe se pored svake adrese nalazi dugme za brisanje -->
    <main>
        <div class="content">
            <!-- Svi korisnici (neobrisani - logično) -->
            <div class="items-container">
                <!-- Tabela sa korisnicima -->
                <table id="users" class="users datatable">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Dinamički popunjava JS funkcija -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <div class="content" id="new-email-wrap">
        <h2>Dodaj novi mejl</h2>
        <form id="new-email-form">
            <p>
                <input type="text" id="email_addr" placeholder="Email address" required />
            </p>
            <button id="btn-add">Add</button>
        </form>
    </div>
</body>
</html>
