<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../JavaScript/Login.js" type="text/javascript"></script>
    <script src="../JavaScript/Navbar.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../Content/Site.css" />
</head>

<body>
    <nav>
        <a id="nav-dashboard" href="Dashboard.html">Dashboard</a>
        <a id="nav-admin-emails" href="AdminEmails.html">Emails</a>
        <a id="nav-login" href="Index.html">Prijava</a>
        <a id="nav-logout" href="#">Odjava</a>
    </nav>
    <div id="login-form-wrap">
        <h2>Prijava</h2>
        <form id="login-form">
            <p>
                <input type="text" id="username" placeholder="Korisnicko ime" required />
            </p>
            <p>
                <input type="password" id="password" placeholder="Lozinka" required />
            </p>
            <button id="btn-Login">Prijava</button>
        </form>
    </div>
</body>
</html>